#header-container {
  background-color: $white;
  position: relative;
  z-index: 1000;

  @include media-breakpoint-down(md) {
    position: sticky;
    top: -9.5rem;
    margin-bottom: 5rem;
  }

  #logo-container {
    margin: 2rem 0;

    img {
      width: 250px;

      @include media-breakpoint-down(sm) {
        width: 175px;
      }
    }
  }

  #desktop-nav {
    height: 45px;
    background-color: $white;
    padding: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &.full-width {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
    }

    .menu-main-menu-container {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menu {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      max-width: 800px;

      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      &-item {
        font-size: 0.75rem;
        text-transform: uppercase;
        transition: all 250ms ease;
        position: relative;
        letter-spacing: 0.15rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: inherit;
          text-decoration: none;
          height: 100%;
          transition: all 250ms ease;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: lighten($black, 60%);
          }
        }

        &-has-children {
          > a:hover {
            color: $black;
          }
        }

        .sub-menu {
          position: absolute;
          border: 1px solid $black;
          top: 100%;
          list-style: none;
          padding-left: 0;
          min-width: 7rem;
          padding: 0.5rem;
          background-color: $white;

          transition: all 250ms ease;
          opacity: 0;
          transform: scaleY(0);
          transform-origin: top;

          li {
            transition: all 250ms ease;
            transition-delay: 200ms;
            opacity: 0;
            transform: translateY(-1rem);
            white-space: nowrap;
            text-align: left;
            align-items: flex-start;
            justify-content: center;
          }

          .menu-item {
            padding: 0.3rem;
          }
        }

        svg {
          margin-left: 0.2rem;
          transition: all 750ms ease;
        }

        &:hover,
        &:focus,
        &:active {
          svg {
            transform: rotate(-180deg);
          }
          .sub-menu {
            opacity: 1;
            transform: scaleY(1);

            li {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }

  #mobile-nav {
    @include media-breakpoint-up(md) {
      display: none;
    }

    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    background-color: $white;
    overflow: hidden;
    transition: all 1000ms ease;
    max-height: 45px;
    position: absolute;
    left: 0;

    &.open {
      max-height: 1000px;
    }

    #mobile-menu-btn {
      height: 45px;
      letter-spacing: 0.15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &__text {
        margin: 0;
        padding: 0;
      }

      .hamburger-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: relative;
        margin-right: 1rem;

        #hamburger {
          width: 20px;
          height: 2px;
          background-color: $black;
          transition: all 500ms ease-in-out;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $black;
            position: absolute;
            transition: all 500ms ease;
          }

          &::before {
            top: 3px;
            left: 0;
          }
          &::after {
            bottom: 3px;
            left: 0;
          }

          &.open {
            width: 0;

            &::before {
              transform: rotate(45deg);
              top: 9px;
            }

            &::after {
              transform: rotate(-45deg);
              bottom: 9px;
            }
          }
        }
      }
    }

    #mobile-menu-container {
      margin-top: 0.5rem;
      display: none;

      &.display {
        display: initial;
      }

      .menu {
        transition: all 500ms ease;
        transform: translateY(-1rem);
        pointer-events: none;
        opacity: 0;
        list-style-type: none;
        padding-left: 0;

        &-item-has-children {
          > a {
            cursor: pointer;
            position: relative;
            left: 8px;
          }
        }
        &-item {
          font-size: 0.75rem;
          text-transform: uppercase;
          transition: all 250ms ease;
          letter-spacing: 0.15rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          position: relative;

          svg {
            margin-left: 0.2rem;
            transition: all 500ms ease-out;
          }

          a {
            color: inherit;
            text-decoration: none;
            height: 100%;
            transition: all 250ms ease;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .sub-menu {
            padding-left: 1rem;
            margin: 0;
            width: 50%;
            position: relative;
            left: 25%;
            border-left: 1px solid $black;
            max-height: 0;
            transition: all 250ms ease;
            pointer-events: none;

            li {
              transition: all 500ms ease;
              transition-delay: 0ms;
              transform: translateY(-1rem);
              opacity: 0;
              align-items: flex-start;
            }
          }

          &.open {
            .sub-menu {
              margin: 1rem 0;
              max-height: 500px;
              pointer-events: initial;

              li {
                transition-delay: 250ms;
                transform: translateY(0);
                opacity: 1;
              }
            }
            svg {
              transform: rotate(-180deg);
            }
          }
        }
      }

      &.open {
        .menu {
          transform: translateY(0);
          pointer-events: initial;
          opacity: 1;
        }
      }
    }
  }
}
