.top-banner {
  .wp-block-cover__inner-container {
    display: flex;
    max-width: 500px;
    padding: 2rem 1rem;
    flex-direction: column;
    background-color: $img_overlay;

    h1 {
      font-size: 2.2rem;
      letter-spacing: 0.2rem;
      margin-bottom: 2rem;
    }

    button {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      transition: all 500ms ease;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}

.featured-shop-sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  height: 0;
  height: 100%;
  padding: 0;

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .wp-block-column {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .wp-block-image img {
        transform: scale(1.1);
      }
    }
    .wp-block-image {
      margin: 0;
      padding: 0;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 1000ms ease;
      }
    }

    h2 {
      position: absolute;
      background-color: $img_overlay;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      padding: 0.5rem 1rem;
    }
  }
}

.about {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
  }

  .wp-block-column {
    margin: 0;
  }

  &__picture {
    &-container {
      padding: 0;
      margin: 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 93%;
      height: 93%;
      border: 1px solid $white;
    }
  }

  &__content {
    min-height: 400px;
    margin: 0;
    margin-left: 0;
    background-color: $light_grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    figure {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 2rem;
      margin-top: 4rem;
    }

    p {
      padding: 0 2rem;
    }

    .wp-block-image {
      width: 125px;
      margin: 0;
      margin-top: auto;

      img {
        padding: 0;
        margin: 0;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 93%;
      height: 93%;
      border: 1px solid $black;
    }
  }
}

.stocked-in {
  margin-top: 7rem;
  padding: 0;

  h3 {
    font-size: 1.35rem;
  }

  .wp-block-group__inner-container {
    .logos-container {
      .wp-block {
        &-group__inner-container {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-evenly;
        }

        &-image {
          margin: 1rem;
          flex: 0 0 210px;
          cursor: pointer;
          transition: all 500ms ease;
          opacity: 0.65;
          display: flex;
          align-items: center;
          justify-content: center;

          figure {
            margin: 0;
          }

          &:hover {
            transform: scale(1.1);
            opacity: 1;
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.news-testimonials {
  margin-top: 7rem;

  .wp-block-group__inner-container {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 95% 50%;
      }
    }

    .content {
      margin: 2rem 0 3rem 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
      }

      .latest-news {
        background-color: $light_grey;
        padding-top: 4rem;
        min-height: 500px;
        position: relative;

        h3 {
          margin: 2rem 0;
        }

        p {
          padding: 0 4rem;
          margin-top: 10%;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 93%;
          height: 93%;
          top: 3.5%;
          left: 3.5%;
          border: 1px solid $black;
        }
      }

      .testimonials {
        background-color: $dark_grey;
        color: $white;
        padding-top: 4rem;
        min-height: 500px;
        position: relative;
        margin-left: 0;

        h3 {
          margin: 2.5rem 0 2rem 0;
        }

        .testimonial {
          margin-bottom: 1rem;
          .wp-block-group__inner-container {
            flex-direction: column;
            p {
              margin: 0;
            }
          }
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 93%;
          height: 93%;
          top: 3.5%;
          left: 3.5%;
          border: 1px solid $white;
        }
      }
    }
  }
}

.featured-in {
  margin-top: 7rem;
  padding: 0;

  h3 {
    font-size: 1.35rem;
  }

  .wp-block-group__inner-container {
    .images-container {
      .wp-block {
        &-group__inner-container {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
        }

        &-image {
          margin: 1rem;
          flex: 0 0 210px;
          cursor: pointer;
          transition: all 500ms ease;
          // opacity: 0.65;

          figure {
            margin: 0;
          }

          // &:hover {
          //   transform: scale(1.1);
          //   opacity: 1;
          // }

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.sign-up-section {
  padding: 0;
  margin: 7rem auto 0 auto;
  background-color: $light_grey;

  p,
  h3 {
    text-align: center;
  }

  .wp-block-group__inner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 3rem;

    .sign-up-form {
      margin: 2rem 0 1rem 0;

      @include media-breakpoint-down(lg) {
        text-align: center;
      }

      &__name,
      &__email {
        margin-right: 2rem;
        display: inline;

        @include media-breakpoint-down(md) {
          display: block;
          margin-bottom: 1rem;
        }
        @include media-breakpoint-down(sm) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-right: 0;
        }
      }

      &__btn {
        font-size: 0.8rem;
        display: inline;
        position: relative;
        bottom: 3px;

        @include media-breakpoint-down(lg) {
          bottom: initial;
          top: 1rem;
        }
      }

      label {
        letter-spacing: 0.1rem;
      }

      &__border {
        &-top,
        &-right,
        &-bottom,
        &-left {
          position: absolute;
          border: none;
          background-color: $black;
        }
        &-bottom,
        &-top {
          width: 85%;
          height: 0.5px;

          @include media-breakpoint-down(lg) {
            width: 78%;
          }
          @include media-breakpoint-down(md) {
            width: 71%;
          }
          @include media-breakpoint-down(sm) {
            width: 67%;
          }
        }
        &-right,
        &-left {
          width: 0.5px;
          height: 52.5%;
          @include media-breakpoint-down(lg) {
            height: 55%;
          }
          @include media-breakpoint-down(md) {
            height: 65%;
          }
          @include media-breakpoint-down(sm) {
            height: 75%;
          }
        }

        &-bottom,
        &-right {
          bottom: 1.5rem;
          right: 1.75rem;
        }
        &-top,
        &-left {
          top: 1.5rem;
          left: 1.75rem;
        }
      }
    }

    .wp-block-image {
      position: absolute;

      &:nth-of-type(1) {
        top: 0;
        right: -3rem;
        transform: rotate(30deg) scale(0.5);
      }
      &:nth-of-type(2) {
        bottom: -1rem;
        left: -3rem;
        transform: rotate(30deg) scale(0.5) scaleY(-1);
      }
    }
    @include media-breakpoint-down(xl) {
      .wp-block-image {
        &:nth-of-type(1) {
          transform: rotate(30deg) scale(0.4);
        }
        &:nth-of-type(2) {
          transform: rotate(30deg) scale(0.4) scaleY(-1);
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .wp-block-image {
        &:nth-of-type(1) {
          transform: rotate(30deg) scale(0.35);
          top: -1rem;
          right: -4rem;
        }
        &:nth-of-type(2) {
          transform: rotate(30deg) scale(0.35) scaleY(-1);
          bottom: -2rem;
          left: -4rem;
        }
      }
    }
  }
}
