#default-page-template {
  .container {
    padding: 0;
  }

  .bg-light-grey {
    background-color: $light_grey;
    margin: 0;
  }

  #contact-send-btn {
    &:hover {
      background-color: lighten($black, 30%);
    }
  }
}
