#default-page-template {
  .container {
    padding: 0;
  }

  #contact-send-btn {
    &:hover {
      background-color: lighten($black, 30%);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: all 250ms ease;

    &:hover {
      color: lighten($black, 30%);
    }
  }
}
