@import "node_modules/bootstrap/scss/bootstrap";

@import "header";
@import "colors";
@import "home_page";
@import "footer";
@import "page";
@import "social";
@import "404";
@import "wholesale";

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

p {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.bg-light-grey {
  background-color: $light_grey;
  margin: 0;
}

.btn {
  &:hover {
    background-color: lighten($black, 20%);
  }
}
