@import "node_modules/bootstrap/scss/bootstrap";

@import "header";
@import "colors";
@import "home_page";

body {
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

p {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.fake-content {
  height: 200vh;
}
